// Ejercicio 1
@for $i from 1 through 6 {
    .text-#{$i}{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 3rem - (($i - 1) * 0.3rem);
        background-color: #2c83bd;
        margin: 1rem;
        padding: 0 0.5rem;
        border-radius: 0.3rem;
        color: white;
    }
}

//Ejercicio 2
$color: (
    primary: #379cfa,
    secundary: #adadad,
    sucess: #008000,
    darnger: #ff0000
);

@function borde-mas-oscuro($color, $i){
    $border: darken($color, ($i - 1) * 5%);
    @return $border
}

@each $ie, $color in $color{  
    @for $if from 1 through 4 {
        .btn-#{$ie}-#{$if} {
            background-color: $color;
            border: borde-mas-oscuro($color, $if) 0.2rem solid;
            padding: 0.5rem 1rem;
            border-radius: 0.2rem;
        }
        
    }
}

//Ejercicio 3
@function espacio-regillas($valor){
    $valor: $valor/4;
    @return $valor;
}

.sec3{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, espacio-regillas(50%));
} 

@for $i from 1 through 4{
    .col-#{$i}{
        background-color: #2c83bd;
        font-size: 1.5rem;
        color: white;
        text-align: center;
        border: 0.1rem black solid;
    }
}

//Ejercicio 4
@function color-decidir($fondo){
    @if(lightness($fondo) > 50%){
        @return black;
    } @else {
        @return white;
    }
}

$colores: (
    1: #2d88ff,
    2: #979797,
    3: #fc3434,
    4: #000000
);

@each $i, $color in $colores{
    .fondo-#{$i}{
        background-color: $color;
        color: color-decidir($color);
        font-size: 1.5rem;
        padding: 0.5rem;
    }
}

//Ejercicio 5
@function delay($time, $i){
    $time: $time + ($i * 0.1s);
    @return $time;
}

@for $i from 1 through 4 {
    .list-#{$i}{
        background-color: #008000;
        color: white;
        width: 60px;
        height: 60px;
        animation: aparecer 0.6s ease-out forwards;
        animation-delay: delay(0.1s, $i);
    }
}

@keyframes aparecer {
        0% {
            opacity: 0; 
            transform: translateY(20px);
        }
        100% {
            opacity: 1; 
            transform: translateY(0);
        }
}



